@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

html, body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

body {
  font-family: forum; 
  font-size: 25px;
background-color: #fff1f5 !important;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}

#logo {
  padding-top: 2.5%;
  font-family: forum;/*
  background-color: #fff1f5;
  background-color: rgb(250, 218, 221);*/
}
.top {
  background-color: #fff1f5; /*
  background-color: rgb(250, 218, 221);*/
}
.topoccasions {
  background-color: rgb(250, 218, 221);
}

h1 {
  color: rgb(110, 68, 32);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2%;
}
header {
  display: flex;
  flex-direction: column;
}
ul,
li {
  font-size: 22px;
  color: rgb(81, 46, 16);
  padding-bottom: 15px;
}
/* menu 1 is home,occasions and flower subs*/

#menu1 li {
  float: right;
  margin-right: 40px;
  list-style-type: none;
  padding-bottom: 30px;
}

.underline {
  transition: all 0.2s ease-in-out;
}

.underline:hover {
  text-decoration: underline;
  color: rgb(81, 46, 16);
  font-size: 25px;
}


/* menu2 is best sellers, new arrivals and extra special*/

#menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#menu2 li {
  margin-top: 70px;
  padding-bottom: 10px;
  list-style-type: none;
  text-align: center;
  font-size: 25px;
  color: rgb(81, 46, 16);
  font-size: 25px;
}

#rcorners {
  border-radius: 50px;
}

#menu2 img {
  max-width: 75%;
}

.border-rounded {
  border-radius: 8px;
}


#hero-image {
  height: 500px;
  width: 100%;
  background: url(../images/heroimage.webp) no-repeat center center;
  background-size: cover;
}
hr.solid {
border-top: 2px solid rgb(110, 68, 32);
padding-top: 15px;
padding-bottom: 4%;
}

p {
  color: rgb(110, 68, 32);
  font-size: 80%;
  padding: 0 50px 0 50px;
  text-align: center;
}

.content-box {
  background-color: rgb(198, 163, 129);
  margin: 0 auto;
  padding: 0% 5.5%;
}

.about-us {
  margin-bottom: 2.5%;
}

h3 {
  text-align: center;
  color: rgb(81, 46, 16);
  padding-top: 15px;
  padding-bottom: 30px;
}
h2 {
  text-transform: uppercase;
  color: rgb(81, 46, 16);
  text-align: center;
  font-size: 90%;
  padding-top: 45px;
  padding-bottom: 15px;
}

#contact {
  text-align: center;
  color: rgb(110, 68, 32);
  padding-top: 50px;
}

footer{
  height: 105px;
  background-color: rgb(250, 218, 221);
  margin-top: 3%;
}
.socials {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.socials > li {
  display: inline;
}

.socials i {
  font-size: 160%;
  margin: 5px;
  padding-top: 33px;
  color: rgb(81, 46, 16);
  text-align: center;
}

/* style for occasions html images */

body {
  background-color: rgb(245, 214, 176);
}

#anniversary {
  text-align: center;
  color: rgb(110, 68, 32);
}

#image-a img{
 max-width: 75%;
 padding-left: 30px;
 padding-right: 30px;
 margin: auto;
 object-fit: cover;
 min-height: 250px;
 min-width: 300px;
}

.zoom:hover {
  transition: .5s ease all; 
  object-fit:cover;
  transform: scale(1.2);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

#titles {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  flex-direction: column;
  padding-bottom: 7%;
}

hr.solid-2 {
  border-top: 3px solid rgb(110, 68, 32);
  padding: 1rem;
  font-size: 10px;
}

/* subscription box */

#backgroundimage {
  background-image: url(../images/background2.jpg);
background-size: cover;
}

#form-container {
  min-width: 40%;
  background-color: rgb(250, 218, 221);
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.join-button {
  text-align: center;
  font-size: 80%;
  background-color: rgb(245, 214, 176);
  color: rgb(110, 68, 32);
  border-radius: 15px;
  padding: 15px 32px 15px 32px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.text-input
 {
  color: rgb(107, 69, 36);
  margin-top: 20px;
  margin-bottom: 15px;
 }


.subform {
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
}

form input[type=text], form input[type=date]{
  width: 100%;
  padding: 10px;
}

#headings {
  color: rgb(81, 46, 16);
}

@media screen and (max-width: 930px) {
  #menu1 {
    float: left;
    clear: left;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
  }
}