@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

body {
  font-family: forum; 
  font-size: 25px;
  background-color: rgb(237, 197, 219);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}

#logo {
  padding-top: 2.5%;
  font-family: forum;
}

h1 {
  color: rgb(110, 68, 32);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2%;
}
header {
  display: flex;
  flex-direction: column;
}
ul,
li {
  font-size: 20px;
  color: rgb(81, 46, 16);
  padding-bottom: 15px;
}
/* menu 1 is home,occasions and flower subs*/
#menu1 li {
  float: right;
  margin-right: 40px;
  list-style-type: none;
  padding-bottom: 30px;
}
.underline:hover {
  text-decoration: underline;
  color: rgb(81, 46, 16);
}
#menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#menu2 li {
  margin-top: 70px;
  padding-bottom: 10px;
  list-style-type: none;
  text-align: center;
  font-size: 25px;
  color: rgb(81, 46, 16);
}

#rcorners {
  border-radius: 50px;
}

#menu2 img {
  max-width: 75%;
}

.border-rounded {
  border-radius: 8px;
}


#hero-image {
  height: 400px;
  width: 100%;
  background: url(../images/heroimage.webp) no-repeat center center;
  background-size: cover;
}
hr.solid {
border-top: 2px solid rgb(110, 68, 32);
padding-top: 15px;
padding-bottom: 4%;
}

p {
  color: rgb(110, 68, 32);
  font-size: 80%;
  padding: 0 50px 0 50px;
  text-align: center;
}

.content-box {
  background-color: rgb(198, 163, 129);
  margin: 0 auto;
  padding: 0% 5.5%;
}

.about-us {
  margin-bottom: 2.5%;
}

h3 {
  text-align: center;
  color: rgb(81, 46, 16);
  padding-top: 15px;
  padding-bottom: 30px;
}
h2 {
  text-transform: uppercase;
  color: rgb(81, 46, 16);
  text-align: center;
  font-size: 90%;
  padding-top: 45px;
  padding-bottom: 15px;
}

#contact {
  text-align: center;
  color: rgb(110, 68, 32);
  padding-top: 50px;
}

footer{
  height: 190px;
}
.socials {
  text-align: center;
}

.socials > li {
  display: inline;
}

.socials i {
  font-size: 160%;
  padding-right: 130px;
  padding-left: 130px;
  padding-top: 5%;
  margin: 1%;
  color: rgb(81, 46, 16);
}

/* style for occasions html images */

body {
  background-color: rgb(245, 214, 176);
}

#anniversary {
  text-align: center;
  color: rgb(110, 68, 32);
}

#image-a img{
 max-width: 75%;
 padding-left: 30px;
 padding-right: 30px;
 margin-left: 10%;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding-top: 7%;
}


#titles {
  text-align: center;
  font-size: 25px;
  position: relative;
  bottom: -65px;
  text-decoration: underline;
}


hr.solid-2 {
  border-top: 3px solid rgb(110, 68, 32);
  padding: 1rem;
}

.caption1{
  text-align: center;
  float: none;
  padding-top: 6%;
}
.caption2 {
  text-align: center;
  float: none;
  padding-top: 7%;
}
.caption3 {
  text-align: center;
  float: none;
  padding-top: 6%;
}

.zoom:hover {
  transition: .5s ease all; 
  width: 100%; 
  object-fit:cover;
  transform: scale(1.2);
}
