@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

body {
  font-family: amstelvar, sans-serif;
  font-size: 25px;
}
h1 {
  color: pink;
}

ul,
li {
  font-size: 20px;
  color: black;
}
/* menu 1 is home,occasions and flower subs*/
#menu1 li {
  float: right;
  margin-right: 40px;
  list-style-type: none;
}

#menu2 li {
  text-align: left;
  margin-right: 25px;
  margin-left: 20px;
  margin-top: 70px;
  list-style-type: none;
}
#new {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 70px;
  list-style-type: none;
}
#hero-image {
  height: 400px;
  width: 100%;
  background: url(../images/hero-image.png) no-repeat center center;
}
